In [11]:
sample_list_1 = random.sample(range(101),80,counts=None)
print(sample_list_1)

[30, 84, 39, 98, 20, 43, 46, 38, 89, 49, 9, 96, 45, 87, 92, 27, 41, 10, 91, 52, 70, 63, 88, 97, 66, 59, 4, 78, 71, 6, 65, 77, 56, 75, 44, 47, 3, 68, 72, 50, 32, 19, 1, 93, 76, 26, 86, 13, 58, 67, 35, 79, 81, 18, 14, 54, 40, 83, 90, 80, 69, 53, 0, 24, 55, 62, 25, 74, 37, 73, 28, 34, 42, 95, 11, 12, 33, 51, 85, 99]

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
sample_list_1 = random.sample(range(101),80,counts=None)
print(sample_list_1)

[82, 21, 93, 36, 37, 35, 39, 14, 27, 91, 20, 26, 73, 41, 68, 49, 51, 1, 17, 58, 96, 9, 80, 52, 71, 95, 88, 60, 99, 25, 10, 76, 45, 7, 33, 6, 62, 12, 90, 84, 44, 74, 34, 66, 87, 75, 30, 50, 24, 11, 100, 72, 83, 56, 81, 16, 69, 79, 22, 85, 40, 59, 38, 46, 4, 67, 42, 3, 57, 70, 78, 47, 65, 54, 77, 23, 5, 2, 53, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
set1 = set(sample_list_1)
print(len(set1))
print("the length of the set is still the same") if len(set1) == len(sample_list_1) else print("the length of the set is not the same")

80
the length of the set is still the same

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
sample_list_2 = [random.randint(0,100) for i in range(80)]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
set2 = set(sample_list_2)
print(len(set2))
print("the length of the set is still 80") if len(set2) == 80 else print("the length of the set is not 80 anymore")

57
the length of the set is not 80 anymore

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
set3 = {i for i in set1 if i not in set2}
print(set3)

{2, 3, 4, 5, 7, 11, 16, 17, 21, 24, 25, 26, 27, 30, 36, 37, 44, 45, 46, 47, 51, 52, 54, 56, 65, 67, 68, 73, 76, 78, 80, 84, 85, 88, 99}
{1, 6, 8, 9, 10, 12, 13, 14, 18, 19, 20, 22, 23, 28, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 49, 50, 53, 55, 57, 58, 59, 60, 62, 63, 64, 66, 69, 70, 71, 72, 74, 75, 77, 79, 81, 82, 83, 86, 87, 90, 91, 92, 93, 95, 96, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
set4 = {i for i in set2 if i not in set1}
print(set4)

{32, 64, 97, 8, 43, 13, 92, 18, 19, 86, 28, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [21]:
set5 = {i for i in set1 if i in set2 }
print(set5)

{1, 6, 9, 10, 12, 14, 20, 22, 23, 33, 34, 35, 38, 39, 40, 41, 42, 49, 50, 53, 55, 57, 58, 59, 60, 62, 66, 69, 70, 71, 72, 74, 75, 77, 79, 81, 82, 83, 87, 90, 91, 93, 95, 96, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))
#len(set2)=len(set4)+len(set5)
#len(set1)=len(set3)+len(set(5))
#therefor: len(set2)+len(set1) == len(set4)+len(set3)+2*len(set5)
print("yes") if len(set2)+len(set1) == len(set4)+len(set3)+2*len(set5) else print("no")

80 57 35 12 45
yes

#### Create an empty set called `set6`.

In [30]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [31]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [32]:
print("they are equal") if set1 == set6 else print("they are not equal")

they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [34]:
x = set2.issubset(set1)
print(x)
y = set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
set6 = set3.union(set4, set5)
set7 = set1.union(set2)
print("they are equal ") if set6 == set7 else print("they are not equal")

they are equal

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
set1.pop()
#this removes a random element

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set1.difference_update(list_to_remove)
print(set1)

None